app_config:
  name: mobius
  version: 0.0.2
  description: Generate SFT Dataset
  adapters:
    - type: openai
      api_key: api_key
      model: gpt-4o
      temperature: 1.0
      top_p: 0.8
    - type: model_scope
      api_key: api_key
      model: qwen-turbo
      temperature: 1.0
      top_p: 0.8
    - type: volc_engine // 火山引擎
      api_key: api_key
      host: maas-api.ml-platform-cn-beijing.volces.com
      region: cn-beijing

  mysql:
    user: mysql_user
    password: mysql_password
    host: host:port
    db_name: mobius
